#suit {
	 
     margin-left: 40%;
     margin-right: auto;
     width: 10%;
}

#mainHeader {
	display: block;
	margin-left: 47%;
	max-width: 5%;
	color: white;
}

body {
  background-image: url('public/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  margin: auto;
  max-width: 1080px;
}

#cert {
	position: fixed;
	float: left;
	max-width: 15%;
	margin-bottom: 30%;
}

#outDiv {
	display: block;
	position:relative;
}

#

#imgDiv {
	display: block;
	margin: auto;
}

.column {
	max-width: 15%;
	margin-bottom: 100%;	
}

#bio {
	display: none;
	margin: auto;
	max-width: 15%;
}

#bodyDiv {
	display: block;
	max-width:  width: 900px; 
	
}


.imgLink {
	display: none;
}

.carousel {
	display: block;
	float: left;
	max-width: 70%;
}


#carousel2 {
	display: none;
}

#carousel {
	display: none;
}

.btn-group-vertical {
	display: none;
}

.button-group-vertical {
	float: right;
	margin-left: 5%;
}


.git {
	float: right;
	position: fixed;
}