.rounded-circle {
	 display: block;
     margin-left: auto;
     margin-right: auto;
     width: 11%;
}

h1 {
	margin: auto;
	margin-top: 30%;
    width: 40%;
    padding: 10px;
	color: white;
}

body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}